---
layout: base
---

<article class="post">

    <header class="post-header">
        <h1 class="post-title">About Me</h1>
    </header>

    <div class="post-content">
        <p>
            Hey, welcome to my website!<br><br>
            I am a software engineer with experience in full-stack web development.
            <br><br>
            I'm also interested in distributed computing, robotics, AI/ML, and data science/engineering.
            <br><br>
            Here are some of the notable <a href="/projects">projects</a> I have worked on.
            Feel free to check out my <a href="https://github.com/kennethkoch">GitHub</a> as well.
            <br><br>

        </p>
    </div>

</article>