---
layout: base
---

<article class="post">

    <header class="post-header">
        <h1 class="post-title">About Me</h1>
    </header>

    <div class="post-content">
        <p>
            Hey, welcome to my website!<br><br>

            I'm a software engineer trying to build cool stuff and learn as much as possible
            along the way.<br><br>
            I started off as a web dev but I'm now obsessed with hard tech and the intersection between bits and
            atoms.<br>
            I'm also interested in physics (especially space stuff), robotics, and sci-fi.
            <br><br>
            Feel free to check out my <a href="https://github.com/kennethkoch">GitHub</a> too.
            <br><br>

        </p>
    </div>

</article>