---
layout: base
---

<h3>Notable Projects</h3>
<ul>
    <li>
        <a href="https://github.com/Minierre/fortysix">FortySix</a>
        <p>FortySix is a browser-based distributed computing platform.</p>
        <p><a href="https://github.com/Minierre/fortysix">github.com/Minierre/fortysix</a></p>
        <p>
            FortySix allows users to customize and run genetic algorithms and
            distribute the computational load across multiple browser clients.
        </p>
        <p>
            Anyone can contribute CPU resources to an ongoing computation by opening
            a URL in their browser.
        </p>

    </li>
</ul>