---
layout: base
---

<h3>Notable Projects</h3>
<ul>
    <li>
        <a href="https://www.gensend.email">
            gensend.email
        </a>
        <p>GenSend is a tool for generating emails and other messages using AI.</p>
        <p>A demo is available at <a href="https://www.gensend.email">gensend.email</a></p>
        <p>This tool allows users to adjust parameters like formality, empowering
            users to generate emails that precisely match their desired tone and ensure
            effective communication in a variety of contexts.</p>
        <p>GenSend is powered by the OpenAI API. The interface is built in React,
            and the back end uses Node.js.</p>
    </li>
    <li>
        <a href="https://github.com/Minierre/fortysix">FortySix</a>
        <p>FortySix is a browser-based distributed computing platform.</p>
        <a href="https://github.com/Minierre/fortysix">Source</a>
        <p>
            FortySix allows users to customize and run genetic algorithms and
            distribute the computational load across multiple browser clients.
        </p>
        <p>
            Anyone can contribute CPU resources to an ongoing computation by opening
            a URL in their browser.
        </p>

    </li>
</ul>