---
layout: base
---

<h3>Notable Projects</h3>
<ul>
    <li>
        <a href="https://www.gensend.email">
            GenSend
        </a>
        <p>GenSend is an LLM wrapper for generating emails and other messages using AI.</p>
        <p><a href="https://github.com/kennethkoch/gensend">github.com/kennethkoch/gensend</a> |
            A demo is available at <a href="https://www.gensend.email">gensend.email</a></p>
        <p>This tool takes shorthand text as input and generates professional sounding emails
            that can be tuned to match the sender's desired tone and formality level to enable fast
            and effective communication in a variety of contexts.</p>
        <p>GenSend is powered by the OpenAI API. The interface is built in React,
            and the back end uses Node.js. GenSend is hosted on AWS.</p>
    </li>
    <li>
        <a href="https://github.com/Minierre/fortysix">FortySix</a>
        <p>FortySix is a browser-based distributed computing platform.</p>
        <p><a href="https://github.com/Minierre/fortysix">github.com/Minierre/fortysix</a></p>
        <p>
            FortySix allows users to customize and run genetic algorithms and
            distribute the computational load across multiple browser clients.
        </p>
        <p>
            Anyone can contribute CPU resources to an ongoing computation by opening
            a URL in their browser.
        </p>

    </li>
</ul>